
body_slide{
	/* Setting default text color, background and a font stack */
	color:#444444;
	font-size:13px;
	background: #f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
}

/* Gallery styles */

#gallery_slide{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(../img/test-slide/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width:960px;
	overflow:hidden;
}

#slides{
	/* This is the slide area */
	height:160px;
	
	 /*jQuery changes the width later on to the sum of the widths of all the slides.*/ 
	width:960px;
	overflow:hidden;
}

.slide{

	float:left;
}

#menu_slide{
	/* This is the container for the thumbnails */
	height:45px;
}


#menu_slide ul li{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
}

#menu_slide ul li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../img/test-slide/pic_bg.png) repeat;
}

#menu_slide ul li.act,#menu_slide ul li.act:hover{
	/* The active state of the thumb */
	background:url(../img/test-slide/active_bg.png) no-repeat;
}

#menu_slide ul li.act a{
	cursor:default;
}

.fbar_slide{
	/* The left-most vertical bar, next to the first thumbnail */
	wwidth:2px;
	background:url(../img/test-slide/divider.png) no-repeat right;
}

#menu_slide ul li a{
	display:block;
	background:url(../img/test-slide/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

#menu_slide ul li a img{
	border:none;
}


/* The styles below are only necessary for the demo page */

h1_slide{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin-bottom:15px;
}

h2_slide{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	position:absolute;
	right:0;
	text-transform:uppercase;
	top:15px;
}

#main_slide{
	/* The main container */
	margin:15px auto;
	text-align:center;
	width:960px;
	position:relative;
}

a:hover{
	text-decoration:underline;
}

p_slide{
	padding:10px;
	text-align:center;
}
