@media (min-width: 1200px) {
    ul,a,li{
        padding: 0;
        margin: 0;
    }
    a{
        cursor: pointer;
    }
    hr{
        margin: 5px 0;
    }
    p{
        color: #666;
    }
     .input-append{
        margin-bottom: 0 !important;
    }

    #wrapper{

        width: 960px;
        margin: 0 auto;
        padding: 20px 0;
    } 
    body{
        background: #f5f6f7;
    }


    #navigation{
        overflow: hidden;
        margin-bottom: 14px;
        border-radius: 5px;
        background-image: linear-gradient(top, rgb(139,139,139) 0%, rgb(112,112,112) 50%, rgb(94,94,94) 51%, rgb(119,119,119) 100%);
        background-image: -o-linear-gradient(top, rgb(139,139,139) 0%, rgb(112,112,112) 50%, rgb(94,94,94) 51%, rgb(119,119,119) 100%);
        background-image: -moz-linear-gradient(top, rgb(139,139,139) 0%, rgb(112,112,112) 50%, rgb(94,94,94) 51%, rgb(119,119,119) 100%);
        background-image: -webkit-linear-gradient(top, rgb(139,139,139) 0%, rgb(112,112,112) 50%, rgb(94,94,94) 51%, rgb(119,119,119) 100%);
        background-image: -ms-linear-gradient(top, rgb(139,139,139) 0%, rgb(112,112,112) 50%, rgb(94,94,94) 51%, rgb(119,119,119) 100%);

        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(139,139,139)),
            color-stop(0.5, rgb(112,112,112)),
            color-stop(0.51, rgb(94,94,94)),
            color-stop(1, rgb(119,119,119))
            );

    }
    #navigation ul{
        padding: 5px 0;
    }
    #navigation ul li{
        display: inline;


    }
    #navigation ul li a{
        color:white;
        text-decoration: none;
        padding: 11px 30px;
        border-right: 1px solid white;
        font-size: 11px;
        font-weight: bold;
    }
    #navigation ul li:first-child a{
        border-width: 0 1px 0 0;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
    }
    #navigation ul li a:hover{
        background: #4b4a4a;
    }
    #navigation ul li a span{
        background-image: url('../img/gear.png') ;
        background-repeat: no-repeat;
        padding-left: 20px;
        font-size: 20px;
        background-position-y: 100%;

        background-size: 20px 20px;

    }
    .all-list-link{
        
        background: white;
    }
    #footer span{
        color: #888888;
        font-size: 12px;
    }
    #footer a{
        font-size: 12px;
    }
    .footer-first ul{

    }
    .footer-first ul li{
        display: inline;
    }
    .footer-first ul li a{
        padding: 0 15px;
        border-right: 1px solid #d0d0d0;

    }
    #link-list{

        border: 1px solid #eeeeee;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-bottom: 15px;
        margin-bottom: 15px;

    }

    .main-link-list,.logo-head-link-list{

        width: 750px;
        margin: 0 auto;

    }
    .all-list-link h6{
        

        color: #666666;

    }
    .main-link-list a{
        color:#888888;
        text-decoration: none;
        font-size: 12px;
    }
    .main-link-list a:hover{
        color:#343434;
    }
    .head-link-list{
        border: 1px solid #eeeeee;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: none;
        padding: 5px 0;
    }
    .logo-head-link-list span{

        font-size: 11.9px;
        color: #666666;
        font-weight: bold;
        line-height: 20px;
    }
    .test{

        background: url("../img/bg-head-link.png");
        background-size: 16px 16px;
        background-position-y: 50%;
        background-repeat: no-repeat;
        padding-left: 16px;

    }
    .content{


        width: 960px;
        border-radius: 4px;
        -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
        -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
        box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
        background: white;


    }
    .content li{

        display: inline;

    }
    #main-product ul{


    }
    #main-product ul li{


    }
    #main-product li#mac{
        width:230px;

    }
    #main-product ul li img{


    }
    #main-product li a{

        padding-bottom: 22px;

    }
    #main-product li {
        float: left;
        text-align: center;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    

    /* 
           ####   this is css of about us our page  ###
          
    */

    #about-us{


        border: 1px solid #eeeeee;
        margin-bottom: 14px;
        padding: 10px 0 30px 0;

    }
    .main-about-us{

        width: 860px;
        margin: 0 auto;
    }
    .main-about-us h4{
        margin-bottom: 20px;
    }
      /* 
      
            ####   this is css of contact us of our page  ###
            
    */
    #contact-us hr{
        
        margin-bottom: 30px;
    }

    #contact-us .well{
        background: white;
        margin-bottom: 15px !important;
    }
    .contact-address{
        margin-bottom: 30px;
        
    }
    .contact-address h4,.contact-message h4{
        margin-bottom: 30px;
        
    }
    .contact-address-icon{
        width: 15px;
        height: 15px;
    }
    .layout-contact-icon{
        float: right;
    }
    .short-hr{
        width: 80%;
        margin: 0 auto;
    }
    
    /* 
      
            ####   this is css of News of our page  ###
            
    */

    .blog-text{
        color: skyblue;
    }
    .news-blog{
        font-size: 12px;
    }
 
    #news{
        margin-bottom: 15px;
        padding: 20px 0;
    }
    .news-main{
        
        width: 860px;
        margin: 0 auto;
    }
}
